body{
	margin: 0;
	display: flex;
	background-image: url(RWptHL.jpg);
	height: 80vh;
	background-size: cover;
	
}
.container{
	padding-right: 1rem;
	padding-left: 1rem;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
.title{
	flex:0 0 100%;
	max-width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	color: rgb(0, 0, 0);
	font-family: sans-serif;
	text-align: center;
	position: relative;
}
.tituj1{
	font-size: 2rem;
}
.tituj2{
	font-size:3rem;
}
.butonat{
	padding-top: 2rem;
	border-radius: 8px;
}
.bt1{
	background-color: #7567f8;
	border-color: #7567f8;
	color: white;
	border-radius:14px;
	padding: 14px 30px;
}
.bt2{
	background-color: #a351b8;
	border-color: #9012af;
	color: white;
	border-radius:14px;
	padding-top: 1%;
	padding-bottom: 1%;

	margin-left: 1%;
}


